<div class="container-fluid vh-100 div-content">
    <div class="title d-flex justify-content-between">
        Add a New Task
        <%= link_to "Cancel", category_tasks_path(@category.id), class: "btn btn-outline-secondary cancel" %>
    </div>
    <%= render "form", category: @category, task: @task, method: "Add New" %>
</div>