<div class="container-fluid vh-100 div-content">

    <div class="title">
        <div>Overdue</div>
        <% if @count > 1 %>
            <div class="fs-4 today-description"><%= @count %> tasks have already past the deadline!</div>
        <% elsif @count == 1 %>
            <div class="fs-4 today-description"><%= @count %> task has already past the deadline!</div>
        <% elsif @count == 0 %>
            <div class="fs-4 today-description">You have no overdue tasks! Good job!</div>
        <% end %>
    </div>

    <div class="main-content">
        <% @tasks.each do |task| %>
            <%= render "task_today", task: task %>
        <% end %>
    </div>

</div>