@import "bootstrap";

.sidebar {
    background-color: #FF8C32;
}

.div-content {
    background: linear-gradient(to bottom right, #06113c 0%, #000000 123%);
    width: 85%;
}

.main-content {
    max-height: 60vh;
    overflow-y: auto;
}

.logo {
    width: 15vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-link {
    text-decoration: none;
    color: #eeeeee;
    padding-left: 5px !important;
}

.nav-link:hover {
    color: #06113C;
}

.active {
    color: #06113C;
}

.title {
    padding-top: 100px;
    font-size: 2rem;
    color: #DDDDDD;
    font-weight: 800;
}

.div-category,
.div-task {
    background-color: #fff;
    padding: 13px 15px 13px 15px;
    margin: 13px 0px 13px 0px;
    border-radius: 10px;
}

.cat-link,
.task-link {
    text-decoration: none;
    color: #06113C;
}

.div-category:hover,
.cat-link:hover,
.div-task:hover,
.task-link:hover {
    background-color: #fd7e14;
    color: #fff;
}

.div-add-category,
.div-add-task {
    padding: 13px 15px 13px 15px;
    margin: 13px 0px 13px 0px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    text-align: center;
}

.div-add-category:hover,
.div-add-task:hover {
    border-color: #fd7e14;
}

.add-cat-link,
.add-task-link {
    text-decoration: none;
    color: #DDDDDD;
}

.add-cat-link:hover,
.add-task-link:hover {
    color: #fd7e14;
}

.form-category-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 0px 13px 0px;
    // margin: 13px 0px 13px 0px;
}

.form-category-name {
    padding: 13px 15px 13px 15px;
    width: 100%;
    border-radius: 10px;
    font-size: large;
}

.form-category-submit {
    padding: 13px 15px 13px 15px;
    background-color: #fd7e14;
    color: #eeeeee;
    border-radius: 10px;
    height: 80%;
}

.cat-title, .task-title {
    text-decoration: none;
    color: #eeeeee;
}

.cat-title:hover,
.task-title:hover,
.task-column {
    color: #fd7e14;
}

.show-cat,
.show-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-cat-name {
    padding: 13px 15px 13px 15px;
    width: 54vw;
    border-radius: 10px;
    font-size: large;
}

.cancel {
    line-height: 2.5;
}

.task-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 13px 15px 13px 15px;
}