<%= form_with model: category, url: url, class: "form-category" do |f| %>
    <div class="form-category-container">
            <div class="input-group">
                <%= f.text_field :name, class: "input-cat-name col-7" %>
                <%= f.submit method + " Category", class: "btn btn-outline-success col" %>
            </div>
    </div>
<% end %>