<div class="container-fluid vh-100 div-content">

    <%# List of Categories Div %>
    <div class="title">
        Category (<%= @categories.count %>)
    </div>
    <div class="main-content col">
        <% @categories.each do |category| %>
            <%= render "category", category: category %>
        <% end %>
    </div>

    <%# Add a Category Div %>
    <div class="col">
        <%= render "form", category: @category, method: "Add" %>
    </div>

    <% @category.errors.full_messages_for(:name).each do |message| %>
        <div class="error"><%= message %></div>
    <% end %>

</div>