<div class="container-fluid">
    <div class="col vh-100 div-content">

        <p>Today</p>
        <p>You have <%= @tasks_today.count %> tasks due today!</p>
        
        <% @tasks_today.each do |task_today| %>
            <%= render "task_today", task_today: task_today %>
        <% end %>
    </div>
</div>